.sideBar {
  display: grid;
  grid-template-rows: 6% 10% 6% auto;
  height: 100%;
}

.sideBar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  border-right: 1px solid lightgray;
  color: grey;
}

.sideBar_header_right {
  display: flex;
  justify-content: space-between;
  min-width: 7vw;
}

.sideBar_notify {
  background-color: skyblue;
  display: flex;
  align-items: center;
  padding: 3%;
  color: rgb(53, 53, 53);
}

.sideBar_notify_left {
  background-color: #fff;
  border-radius: 50%;
  height: 4.5vh;
  width: 2.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  color: lightblue;
}

.sideBar_search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.sideBar_search_inner {
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 90%;
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
  color: grey;
}

.search_bar {
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.9rem;
  margin-left: 5%;
}

.sideBar_chats {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #fff;
}
